* {
  box-sizing: border-box;
}

/*     background-color: rgb(243, 245, 245);
 */
/* styling of general stuff */
body{
    background-color: rgb(217, 222, 224);
    padding-left: 160px;
    padding-right: 160px;
    background-image: url("https://res.cloudinary.com/dsk2m5x4m/image/upload/v1774979400/bg-1_upfu9a.gif"), url("https://res.cloudinary.com/dsk2m5x4m/image/upload/v1774979400/bg-2_eyiu9v.gif");
    background-repeat: no-repeat, repeat-y;
    background-position: top, 0px 1010px;
    
}


.sparkleimg{
  position: absolute;


}

.spark{
  transform: translateZ(0);
}


/* header */
.header{
  border-radius: 10px;
  display: grid;
  grid-template-columns: 45% auto auto;
  padding: 10px;  
  background: linear-gradient(180deg, #ffffff 35%, #abdbe6 120%);
box-shadow: inset 0px -8px 20px 5px #ffffff;
  filter: drop-shadow(-1px 2px 2px #5e5f5f);


}

.hsticker{
  position: absolute;
  rotate: -5deg;
  font-size: 25px;
    filter: drop-shadow(-1px 2px 2px #5e5f5f);
    transition:  0.20s cubic-bezier(0.33, 1, 0.68, 1);
  filter: drop-shadow(1px 2px 2px #5e5f5f);
}

.hsticker:hover{
  scale: 110%;
}

.htitle{ 
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-size: 55px;
  text-align: left;
  
}


/* button to pages */
.pgbuttons{
  padding-bottom: 6px;
  padding-top: 6px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 150px;
}

.pgbuttons svg{
  height: 100%;
  scale: 70%;
  transition:  0.30s cubic-bezier(0.33, 1, 0.68, 1);
  filter: drop-shadow(1px 2px 2px #5e5f5f);

}
.pgbuttons text{
  text-anchor: middle;
  font-size: 30px
}

.pgbuttons svg:hover{
  filter: drop-shadow(5px 8px 2px #5e5f5f);
  scale: 80%;

}


.filterDiv {
  display: none;
}


/* left and right col */
.row{
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 15px;
}


.leftcol{
    display: grid;
    float: left;
    gap: 35px;
      /* padding: 10px; */
    grid-template-rows: 150px auto;
    position: relative;
}

.buttonz{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffffff 0%, #abdbe6 100%);
box-shadow: inset 0px -8px 20px 5px #ffffff;
  filter: drop-shadow(-1px 2px 2px #5e5f5f);

}

.buttons2{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #afbbbf;
  border-width: 1.5px;
background: linear-gradient(180deg, #ffffff 38%, #abdbe6 125%);
box-shadow: inset 0px -8px 20px 5px #ffffff;

}


/* stickers/right col */
.rightcol{
  padding-left: 70px;
  background-repeat: repeat-y;
  background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20528.24%20216.36%22%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Crect%20class%3D%22cls-1%22%20y%3D%22208.89%22%20width%3D%2210.34%22%20height%3D%227.47%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2230.44%20216.36%2030.44%20196.25%2010.34%20196.25%2010.34%20203.73%200%20203.73%200%20165.61%2010.53%20165.61%2010.34%20173.09%2030.44%20172.6%2030.44%20152.98%2010.85%20152.98%2010.66%20160.46%200%20160.46%200%20122.34%2010.34%20122.34%2010.34%20129.82%2030.44%20129.82%2030.44%20109.71%2010.34%20109.71%2010.34%20117.19%200%20117.19%200%2079.07%2010.34%2079.07%2010.34%2086.55%2030.44%2086.55%2029.91%2066.44%2010.34%2066.44%2010.34%2073.92%200%2073.92%200%2035.8%2010.53%2035.8%2010.34%2043.27%2030.44%2042.79%2030.44%2023.17%2010.85%2023.17%2010.66%2030.65%200%2030.65%200%200%20528.24%200%20528.24%20216.36%2030.44%20216.36%22%2F%3E%3C%2Fsvg%3E");
}

.sticker{   
  float: left;
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    grid-template-rows: 300px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    gap: 20px;

}

/* images of stickers */
.filterDiv img{
  width: 100%;
  height: 100%;
    object-fit: contain;
  	transition:  0.35s cubic-bezier(0.33, 1, 0.68, 1);


}

.filterDiv img:hover{
    scale: 190%;
}

.show {
  display: block;
}


/* Style the buttons */

#myBtnContainer{
  height: auto;
}

.btn {
  border-radius: 5px;
  border-color: #5e5f5f;
  padding: 5px;
  width: 44%;
  margin: 4px; 
  cursor: pointer;
  background: linear-gradient(to bottom, white 15%, #78d5ea 125%);
  transition:  0.20s cubic-bezier(0.33, 1, 0.68, 1);

}

.btn:hover {
  color: #5e5f5f;
  filter: drop-shadow(2px 2px 2px #5e5f5f);

}

.btn.active {
  background: linear-gradient(to bottom, white 10%, #70b8ff 100%);
  color: #5e5f5f;
}


/* sticker desc left col */
.stickerdesc{
  position: absolute;
  top: 295px;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4 auto);
  gap: 10px;
  padding: 10px;
  background-color: #70b8ff;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffffff 0%, #abdbe6 100%);
box-shadow: inset 0px -8px 20px 5px #ffffff;
  filter: drop-shadow(-1px 2px 2px #5e5f5f);

}

.stickerdesc2{
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #afbbbf;
  border-width: 1.5px;
background: linear-gradient(180deg, #ffffff 55%, #abdbe6 150%);
box-shadow: inset 0px -8px 20px 5px #ffffff;
}

.stickerdesc2 svg{
  width: 100%;
}




/* text styles */
/* website header */
h1{
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

h2{
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #78d5ea;
}

p2{
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

button{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}


/* adjust size of screen  */
@media (max-width: 1100px){
  .sticker {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 5px;
  }
  .rightcol{
    padding-left: 50px;
  }
  body{
    padding-left: 60px;
    padding-right:60px;

  }
  .row{
    gap: 8px;
  }
  .header{
    margin-bottom: 8px;
    height: 275px;
  }
  .btn{
    width: 125px;
  }
  .row{
    grid-template-columns: 25% 1fr;
  }
}

/* tablet */
@media (max-width: 835px){
  .sticker {
    grid-template-columns: repeat(3, 1fr);
  }
  body{
    padding-left: 30px;
    padding-right: 30px;
  }
  .header{
    height: 250px;
  }
  .leftcol{
    grid-template-rows: 160px auto;
  }
  .header img{
    width: 480px;
    top: -25px; 
    left: 32px;
  }
}

/* phone */
@media (max-width: 400px){
  body{
    padding-left:5px;
    padding-right: 5px;

  }

  .header{
    h1{
      font-size: 55px;
    }
  }

  .row{
    grid-template-columns: 1fr;
  }

  .rightcol{
    padding-left: 35px;
  }

  .leftcol{
    grid-template-rows: auto 1fr 1fr;
    gap: 8px;
    padding: 5px;

  }
  p2{
    display:none;
  }

  #myBtnContainer{
    height:55px;
  }
  
  .stickerdesc{
    display: none;
  }

  .btn{
    height: 50px;
    width: auto;  
    margin:2px;
    
  }

  .header img{
    width: 340px;
    bottom: 45px;
    left: -35px;
  }

}

/* 
.sparkle{
  perspective: 1px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
    top:0;
  left:0;
  right: 0;
  bottom: 0;
background-image: url("https://res.cloudinary.com/dsk2m5x4m/image/upload/q_auto/f_auto/v1775180345/bg_particle_c8fcmc.png");
  transform: translateZ(-1px);
} */
